[submodule "vendors/emsdk"]
	path = vendors/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "vendors/simple-cpp-logger"]
	path = vendors/simple-cpp-logger
	url = https://github.com/nadrino/simple-cpp-logger.git
[submodule "vendors/result"]
	path = vendors/result
	url = https://github.com/bitwizeshift/result.git
    ignore = dirty
[submodule "vendors/skia"]
	path = vendors/skia
	url = https://skia.googlesource.com/skia.git
    ignore = dirty
[submodule "vendors/sole"]
	path = vendors/sole
	url = https://github.com/r-lyeh-archived/sole.git
